/* Styles for exit button */
#exit {
    -fx-background-color: #c21a1a; /* Blue background color */
    -fx-text-fill: #ffffff; /* White text color */
    -fx-font-family: "Arial", sans-serif; /* Specify the font family */
    -fx-font-size: 14.0; /* Specify the font size */
}

/* Hover styles for exit button */
#exit:hover {
    -fx-background-color: #850707; /* Specify the hover background color */
    /* Add any additional styles for hover effect */
}

/* Styles for mainMenu button */
#mainMenu {
    -fx-background-color: #1e9d1a; /* Blue background color */
    -fx-text-fill: #ffffff; /* White text color */
    -fx-font-family: "Arial", sans-serif; /* Specify the font family */
    -fx-font-size: 14.0; /* Specify the font size */
}

/* Hover styles for mainMenu button */
#mainMenu:hover {
    -fx-background-color: #024802; /* Specify the hover background color */
    /* Add any additional styles for hover effect */
}

/* Add more styling as needed */
