/* Apply styling to the VBox */
VBox {
    -fx-alignment: center;
    -fx-spacing: 20.0;
    -fx-padding: 20.0;
}

/* Apply styling to the Button with fx:id "back" */
#back {
    -fx-text-fill: #ffffff; /* White text color */
    -fx-background-color: #8ca90d; /* Greenish color */
}

#back:hover {
    -fx-background-color: #2db82d; /* Darker green color on hover */
}
/* Apply styling to the Button with fx:id "exit" */
#exit {
    -fx-text-fill: #ffffff; /* White text color */
    -fx-background-color: #cc0000; /* Dark red color */
}
#exit:hover{
    -fx-background-color: #860505; /* Dark red color */
}
